<app-header-slider></app-header-slider>
<!--========================= Free Govt OTP =========================-->
<ng-container *ngIf="this.searchType === 'freeGovt' && this.loginType === 'jobApply'">
    <h2 class="section-common-heading pt-15 text-center">GOVERNMENT JOBS</h2>
    <h3 class="section-sub-common-heading text-center">Instant Identity Protected Matching</h3>
    <div class="steps mt-25" *ngIf="this.loginType === 'jobReps'">
        <span>STEP 2/3</span>
        <h2>Signup <small>or</small> Login</h2>
    </div>

    <div class="steps mt-25" *ngIf="this.loginType === 'jobApply'">
        <span>STEP {{this.currentStep}}/{{this.maxStep}}</span>
        <h2>Signup <small>or</small> Login</h2>
    </div>
    <div class="progressbar">
<!--        <div class="progress-value" [ngClass]="{'width66': this.loginType === 'jobReps'}"></div>-->
        <div class="progress-value width{{this.progress}}"></div>
    </div>

    <div class="form-section">
        <div class="px-15">
            <form [formGroup]="otpForm">
                <div class="input-group">
                    <label class="mb-15">Email ID</label>
                    <input type="hidden" formControlName="emailOtp" class="form-control" placeholder="Enter your email" readonly>
                    <div class="edit-number mb-30">
                        {{this.emailOtp}}
                        <span class="img-edit" [routerLink]="['/login',this.loginType]"><img alt="" src="{{config.assetsImages+'edit.svg'}}"></span>
                    </div>
                    <div class="verification-code">
                        <label class="text-center mb-20">Enter verification code sent to {{this.emailOtp}}</label>
                        <input type="text" formControlName="otp" minlength="6">
                        <div *ngIf="(getControls['otp']['errors']?.['required'] && getControls['otp']['touched'])" class="alert alert-danger">
                            <div *ngIf="(getControls['otp']['errors']?.['required'] && getControls['otp']['touched']) || isInvalid">
                                OTP CODE is required
                            </div>
                        </div>
                    </div>
                    <p class="text-center mt-30">Check your email spam folder if you do not see the <br>OTP(one time password) in your inbox</p>
                </div>
                <!-- <div class="otp-inputs mt-25">
                    <input type="text" id="firstInput" maxlength="1">
                    <input type="text" id="secondInput" maxlength="1">
                    <input type="text" id="thirdInput" maxlength="1">
                    <input type="text" id="fourthInput" maxlength="1">
                </div> -->

                <label class="resend-otp text-center mb-25">Didn't receive an OTP?
                    <a href="javascript:void(0)" (click)="resendOtp()">
                        <div class="loading-bar" *ngIf="this.isResendLoader">
                            <span class="loader loader-quart"></span>
                            <span class="loading-text">Please Wait...</span>
                        </div>
                        <span *ngIf="!this.isResendLoader"> RESEND OTP</span>
                    </a>
                </label>
                <ng-container *ngIf="config.isShowCaptcha">
                    <div class="captcha-btn">
                        <div class="form-recaptcha-size-new">
                            <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" formControlName="recaptcha"></ngx-recaptcha2>
                            <div *ngIf="getControls['recaptcha'].invalid">
                                <div *ngIf="(getControls['recaptcha']['errors']?.['required'] && getControls['recaptcha']['touched']) || isInvalid" class="alert alert-danger">
                                    Captcha is required.
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </form>
        </div>
        <div class="button-group button-cover">
            <button type="submit" class="btnpurple" (click)="verifyOtp()"> <div class="loading-bar" *ngIf="this.isLoader"><span class="loader loader-quart"></span><span class="loading-text">Please Wait...</span></div> <span *ngIf="!this.isLoader">Login</span> </button>
        </div>
    </div>
</ng-container>

<!--========================= JobRep OTP =========================-->
<ng-container *ngIf="this.searchType !=='freeGovt' || this.searchType ==='freeGovt' && this.loginType === 'jobReps'">
    <div class="jobreps-banner">
        <h2 class="section-common-heading  text-center text-white">CAREER PROFESSIONALS</h2>
        <h3 class="section-sub-common-heading text-center text-white">Expertise Registration</h3>
        <div class="steps mt-25" *ngIf="this.loginType === 'jobReps'">
            <span>STEP 1/3</span>
<!--            <h2>Signup <small>or</small> Login</h2>-->
            <h2>Profile Update</h2>
        </div>

        <div class="steps mt-25" *ngIf="this.loginType === 'jobApply'">
            <span>STEP {{this.currentStep}}/{{this.maxStep}}</span>
            <h2>Signup <small>or</small> Login</h2>
        </div>
        <div class="progressbar">
            <div class="progress-value" [ngClass]="{'width66': this.loginType === 'jobReps'}"></div>
        </div>
    </div>
    <div class="form-section jobreps-form pb-0 mb-40">
        <div class="cardheading"> Signup <span>or</span> Login </div>
        <div class="px-15">
            <form [formGroup]="otpForm">
                <div class="input-group">
                    <label class="mb-15">Email ID</label>
                    <input type="hidden" formControlName="emailOtp" class="form-control" placeholder="Enter your email" readonly>
                    <div class="edit-number mb-30">
                        {{this.emailOtp}}
                        <span class="img-edit" [routerLink]="['/login',this.loginType]"><img alt="" src="{{config.assetsImages+'edit.svg'}}"></span>
                    </div>
                    <div class="verification-code">
                        <label class="text-center mb-20">Enter verification code sent to {{this.emailOtp}}</label>
                        <input type="text" formControlName="otp" minlength="6">
                        <div *ngIf="(getControls['otp']['errors']?.['required'] && getControls['otp']['touched'])" class="alert alert-danger">
                            <div *ngIf="(getControls['otp']['errors']?.['required'] && getControls['otp']['touched']) || isInvalid">
                                OTP CODE is required
                            </div>
                        </div>
                    </div>
                    <p class="text-center mt-30">Check your email spam folder if you do not see the <br>OTP(one time password) in your inbox</p>
                </div>

                <label class="resend-otp text-center mb-25">Didn't receive an OTP?
                    <a href="javascript:void(0)" (click)="resendOtp()">
                        <div class="loading-bar" *ngIf="this.isResendLoader">
                            <span class="loader loader-quart"></span>
                            <span class="loading-text">Please Wait...</span>
                        </div>
                        <span *ngIf="!this.isResendLoader"> RESEND OTP</span>
                    </a>
                </label>
                <ng-container *ngIf="config.isShowCaptcha">
                    <div class="captcha-btn">
                        <div class="form-recaptcha-size-new">
                            <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" formControlName="recaptcha"></ngx-recaptcha2>
                            <div *ngIf="getControls['recaptcha'].invalid">
                                <div *ngIf="(getControls['recaptcha']['errors']?.['required'] && getControls['recaptcha']['touched']) || isInvalid" class="alert alert-danger">
                                    Captcha is required.
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>

                <button type="submit" class="button-purple mt-25 w-100 mb-30" (click)="verifyOtp()"> <div class="loading-bar" *ngIf="this.isLoader"><span class="loader loader-quart"></span><span class="loading-text">Please Wait...</span></div> <span *ngIf="!this.isLoader">Login</span> </button>

            </form>
        </div>
    </div>
</ng-container>
