<form class="form-section" [formGroup]="changePasswordform">
    <div class="forgotpassword-block">
        <figure>
            <img src="{{config.assetsImages+'password.png'}}"  width="100%">
        </figure>
        <h3 class="mt-30 mb-10">CHANGE PASSWORD?</h3>
        <div class="input-group">
            <label>Current Password</label>
            <input type="email" formControlName="current_password">
        </div>

        <div class="input-group">
            <label>New Password</label>
            <input type="email" formControlName="new_password">
        </div>

        <div class="input-group">
            <label>Confirm Password</label>
            <input type="email" formControlName="confirm_password">
        </div>
    </div>
    <div class="button-group">
        <button type="button" class="btnblue">Previous</button>
        <button type="submit" class="btnpurple" (click)="changePassword()"><div class="loading-bar" *ngIf="this.isLoader"><span class="loader loader-quart"></span><span class="loading-text">Please Wait...</span></div><span *ngIf="!this.isLoader">Submit</span></button>
    </div>
</form>
