<app-header-slider></app-header-slider>
<h2 class="section-common-heading pt-15 text-center">{{this.federalJobHeading}}</h2>
<h3 class="section-sub-common-heading text-center">{{this.federalJobSubHeading}}</h3>
<div class="steps mt-25">
    <span>STEP  {{this.currentStep}}/{{this.maxStep}}</span>
    <h2>Submit / Apply Job</h2>
</div>
<div class="progressbar">
    <div class="progress-value width{{this.progress}}"></div>
</div>
<div class="apply-box form-section" id="htmlData">

    <app-job-details [jobUrl]="this.jobUrl" [job_id]="this.job_id"></app-job-details>
    <div class="numbered-circle-box">
        <ul class="numbered-circle  mb-5">
            <ng-container *ngFor="let n of matchList; let i=index">
                <li (click)="openJobUrl(n.position_url, this.searchType, 'card', n.position_title, n.department_name, i+1, n.id, 'manual')" *ngIf="i<10" [ngClass]="{'active-number': this.job_id == n.id}"><span>{{i+1}}</span></li>
            </ng-container>

<!--            <ng-container *ngIf="!this.jobDetails.job_number">-->
<!--                <ng-container *ngFor="let n of matchList; let i=index">-->
<!--                    <li (click)="openJobUrl(n.position_url, this.searchType, 'card', n.position_title, n.department_name, i+1, n.id, 'manual')" *ngIf="i<10" [ngClass]="{'active-number': 1 == i+1}"><span>{{i+1}}</span></li>-->
<!--                </ng-container>-->
<!--            </ng-container>-->

<!--            <ng-container *ngIf="this.jobDetails.job_number">-->
<!--                <ng-container *ngFor="let n of matchList; let i=index">-->
<!--                    <li (click)="openJobUrl(n.position_url, this.searchType, 'card', n.position_title, n.department_name, i+1, n.id, 'manual')" *ngIf="i<10" [ngClass]="{'active-number': this.jobDetails.job_number == i+1}"><span>{{i+1}}</span></li>-->
<!--                </ng-container>-->
<!--            </ng-container>-->
        </ul>

        <p *ngIf="this.matchList">Select Match Number to View Job Detail</p>
    </div>
</div>
<div class="button-group">
    <button type="button" class="btnblue" [routerLink]="['/curated-report']">Previous</button>
    <ng-container *ngIf="this.searchType !== 'free'">
        <a class="loading-bar btnpurple" *ngIf="this.isNumberLoading"><span class="loader loader-quart"></span><span class="loading-text">Please wait!</span></a>


        <ng-container *ngIf="this.jobDetails.job_url">
            <a *ngIf="!this.isNumberLoading" target="_blank" class="btnpurple" href="{{this.jobDetails.job_url}}">Apply</a>
        </ng-container>

        <ng-container *ngIf="!this.jobDetails.job_url">
            <a *ngIf="!this.isNumberLoading" class="btnpurple" target="_blank" href="{{this.jobDetails.details.job_url}}">Apply</a>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="this.searchType == 'free'">
        <button type="button" class="btnpurple" [routerLink]="['/']">Home</button>
    </ng-container>

</div>
