<app-header-slider></app-header-slider>
<section class="aboutus-banner">
    <div>
        <h3 class="text-center">Both Match<sup>TM</sup> Solutions to address Current Challenges</h3>
    </div>
</section>
<section class="curate-match-solution-section">
    <div>
        <p class="mb-20 mt-0 text-center solution-heading">By researching the root causes of talent challenges, Both
            Match<sup>TM</sup> is introducing a new organic, open, collaborative, on-demand and identity protected
            talent framework.</p>
        <p class="mb-25 mt-0 text-center solution-heading">Some key highlights:</p>
        <div class="match-solutions-box text-center">
            <div class="icon-circle mb-15">
                <img src="{{config.assetsImages+'curate-match.png'}}" alt="" width="100%">
            </div>
            <h5>Curate Match Framework<sup>TM</sup></h5>
            <!-- <p>uses human insights and an artiﬁcial intelligence based Deep <img class="tm-img" src="assets/images/tm.png"> Match<sup>TM</sup> to deliver a Both Way Match<sup>TM</sup>.</p> -->
            <p>uses human insights and an artiﬁcial intelligence based DeepMatchr<sup>TM</sup> to deliver a Both Way Match<sup>TM</sup>.</p>
        </div>
        <div class="match-solutions-box text-center" style="background-color:#fff;">
            <div class="icon-circle mb-15">
                <img src="{{config.assetsImages+'both-way-match.png'}}" alt="" width="100%">
            </div>
            <h5>Both Way Match<sup>TM</sup></h5>
            <p>is created when a jobseeker’s curated skills, qualiﬁcations, and preferences and the employer’s posted or
                curated job details and requirements are organically matched.</p>
        </div>
        <div class="match-solutions-box text-center">
            <div class="icon-circle mb-15">
                <img src="{{config.assetsImages+'jobseeker.png'}}" alt="" width="100%">
            </div>
            <!-- <h5>Jobseekers</h5> -->
            <h5>DeepMatchr<sup>TM</sup></h5>
            <p>system can save time, money and reduce stress by
                organically analyzing millions of jobs based on skills, industry and
                additional personal preferences. There are no guarantees, but a
                curated deep organic Both Way Match, significantly increases the
                chance of jobseekers being interviewed by potential employers.</p>
        </div>
        <div class="match-solutions-box text-center" style="background-color:#fff;">
            <div class="icon-circle mb-15">
                <img src="{{config.assetsImages+'ats.png'}}" alt="" width="100%">
            </div>
            <h5>ATS</h5>
            <p>are setup to look for speciﬁc resume keywords. As a result, some qualiﬁed jobseekers without the expected
                keywords are likely to be ignored. Both Match<sup>TM</sup> helps jobseekers to use their skills and
                preferences and organically match with their ideal jobs.</p>
        </div>
        <div class="match-solutions-box text-center">
            <div class="icon-circle mb-15">
                <img src="{{config.assetsImages+'data-security.png'}}" alt="" width="100%">
            </div>
            <h5>Data Security</h5>
            <p>is a priority on the Both Match<sup>TM</sup> portal. A matched jobseeker’s data will be shared with
                potential employers and jobreps via the portal only based on a jobseeker’s request.</p>
        </div>
    </div>
</section>
<section>
    <figure><img alt="" src="{{config.assetsImages+'curateBlue-banner.png'}}" width="100%"></figure>
</section>
<section class="curate-match-solution-section">
    <div>
        <div class="match-solutions-box text-center">
            <div class="icon-circle mb-15">
                <img src="{{config.assetsImages+'open-access.png'}}" alt="" width="100%">
            </div>
            <h5>Open Access</h5>
            <p>on Both Match<sup>TM</sup> by default allows on-demand
                quick portal access to all jobseekers and professionals. Adding
                or editing data or subscribing will require additional validation.</p>
        </div>
        <div class="match-solutions-box text-center" style="background-color:#fff;">
            <div class="icon-circle mb-15">
                <img src="{{config.assetsImages+'identity-protected-matching.png'}}" alt="" width="100%">
            </div>
            <h5>Identity Protected Matching</h5>
            <!--            <p>when utmost conﬁdentiality is required allows jobseekers to look for a job without registration and in a private non-social environment.</p>-->
            <!-- <p>when utmost is required, Both Match <sup>TM</sup> allows jobseekers to look for a job registration and in a private non-social environment.</p> -->
            <p>when utmost conﬁdentiality is required allows jobseekers to look for a job without registration and in a
                private non-social environment.</p>
        </div>
        <div class="match-solutions-box text-center">
            <div class="icon-circle mb-15">
                <img src="{{config.assetsImages+'job-data-accuracy.png'}}" alt="" width="100%">
            </div>
            <h5>Job Data Accuracy</h5>
            <p>is improved via the Curate Match Framework<sup>TM</sup> since it helps to reduce some misleading,
                duplicate, closed, and inactive jobs thus leading to saved time, money, and less stress.</p>
        </div>
        <div class="match-solutions-box text-center" style="background-color:#fff;">
            <div class="icon-circle mb-15">
                <img src="{{config.assetsImages+'matching-bias.png'}}" alt="" width="100%">
            </div>
            <h5>Matching Bias</h5>
            <p>is avoided during the DeepMatchr<sup>TM</sup> process due to the exclusion of personal data such as name, profile image, race, ethnicity, gender, age, color, national origin, religion, marital status, disability, pregnancy, sexual orientation or ancestry. Jobseeker's skills, qualifications and curated information is matched with jobs.</p>
        </div>
        <div class="match-solutions-box text-center">
            <div class="icon-circle mb-15">
                <img src="{{config.assetsImages+'recruiting-efficiency.png'}}" alt="" width="100%">
            </div>
            <h5>Recruiting Efficiency</h5>
            <p>is increased since a curated Both Way Match<sup>TM</sup> enhances the talent pipeline and allows recruiters to use the saved time to focus on upstream recruiting needs.</p>
        </div>
        <div class="match-solutions-box text-center" style="background-color:#fff;">
            <div class="icon-circle mb-15">
                <img src="{{config.assetsImages+'ghosting.png'}}" alt="" width="100%">
            </div>
            <h5>Ghosting</h5>
            <p>by candidates or employers is reduced because of the deeper level organic Both Way Match<sup>TM</sup>
                results.</p>
        </div>
    </div>
</section>
<section>
    <app-footer-curate-career></app-footer-curate-career>
    <figure class="footer-figure"><img alt="" src="{{config.assetsImages+'Footer-Capture.png'}}" width="100%"></figure>
</section>
<div class="button-group">
    <button type="submit" class="btnblue" [routerLink]="['/current-challenges']">Previous</button>
    <button type="submit" class="btnpurple" [routerLink]="['/']">Home</button>
</div>
