.button-group button.btnblue, .button-group button.btnpurple {
    cursor: pointer;
}

footer{
    margin-bottom: 60px;
}
.mb-25.mt-0.text-center.solution-heading{
    font-size: 22px;
    color: #00BDCD;
    font-weight: 700;
}