<ngx-slick-carousel class="carousel" #slickModal="slick-carousel">
    <div ngxSlickItem class="carousel-item slide candidate-collage">
        <img style="width: 100%" src="{{slides[slide].img}}" srcset="{{slides[slide].img}}" alt="People images">
    </div>
    <!-- <div ngxSlickItem class="carousel-item slide">
        <img src="assets/images/people-image-01.jpg" alt="Chicago" >
    </div>
    <div ngxSlickItem class="carousel-item slide">
        <img src="assets/images/people-image-02.jpg" alt="New York" >
    </div> -->
</ngx-slick-carousel>
