<app-header-slider></app-header-slider>
<section class="aboutus-banner">
    <div>
        <h2>Current Challenges</h2>
        <p>“The greater the obstacle, the more glory in overcoming it.” – Molière</p>
    </div>
</section>
<section class="challenges-content-section">
    <div>
        <h3 class="section-common-heading">Partial list of Current Recruiting Industry Challenges</h3>
        <ul class="partial-lists mt-15">
            <li><img alt="" src="{{config.assetsImages+'cros.svg'}}"> Too many mismatched jobseekers and jobs</li>
            <li><img alt="" src="{{config.assetsImages+'cros.svg'}}"> Unverifiable and missing data in resumes</li>
            <li><img alt="" src="{{config.assetsImages+'cros.svg'}}"> Stuffing keywords in resume to bypass the ATS</li>
            <li><img alt="" src="{{config.assetsImages+'cros.svg'}}"> Misleading, duplicate or closed jobs posted</li>
            <li><img alt="" src="{{config.assetsImages+'cros.svg'}}"> Ignored by some jobseekers and recruiters</li>
            <li><img alt="" src="{{config.assetsImages+'cros.svg'}}"> Implicit bias in talent acquisition and hiring</li>
            <li><img alt="" src="{{config.assetsImages+'cros.svg'}}"> ATS missing some qualified jobseekers</li>
            <li><img alt="" src="{{config.assetsImages+'cros.svg'}}"> Outdated and unproductive talent solutions</li>
            <li><img alt="" src="{{config.assetsImages+'cros.svg'}}"> Jobseekers submitting mass applications</li>
            <li><img alt="" src="{{config.assetsImages+'cros.svg'}}"> Overwhelmed recruiters unable to respond</li>
            <li><img alt="" src="{{config.assetsImages+'cros.svg'}}"> Wasted time, money and added risk & stress</li>
            <li class="mb-0"><img alt="" src="{{config.assetsImages+'cros.svg'}}"> Overall a poor experience for too many</li>
        </ul>
    </div>
</section>
<section class="mb-30">
    <figure><img alt="" src="{{config.assetsImages+'both-match-banner.png'}}" width="100%"></figure>
</section>
<section>
    <app-footer-curate-career></app-footer-curate-career>
    <figure><img src="{{config.assetsImages+'Footer-Capture.png'}}" width="100%"></figure>
</section>
<div class="button-group">
    <button type="submit" class="btnblue" [routerLink]="['/our-mission']">Previous</button>
    <button type="submit" class="btnpurple" [routerLink]="['/bothmatch-solutions']">Next</button>
</div>
