<app-header-slider></app-header-slider>
<div class="content-wrap">
    <h3 class="section-common-heading  mb-40 text-maroon text-center">Jobseekers Guide</h3>
    <figure>
        <img width="100%" src="{{config.assetsImages+'jobseeker-7-Steps-Master.png'}}">
    </figure>
    <div class="steps-card">
        <figure>
            <img width="100%" src="{{config.assetsImages+'step-7.png'}}">
        </figure>
        <h4 class="faq-head mb-10">
            <span><img src="{{config.assetsImages+'plus.png'}}"></span>
            Find curated career professionals by areas of expertise
        </h4>
        <p>Explore the BothMatch portal to <a href="javascript:void(0)" [routerLink]="['/match','fromJobSeeker']">match</a> career professionals categorized by their expertise. Choose professionals
            that align with your career goals. 
            <br /><br /> <span class="buldimg"><img src="{{config.assetsImages+'bulb.png'}}"></span> Register on the JobRep Network to collaborate
            with the talent community to find additional insights and resources.</p>
    </div>
    <div class="steps-card step-card-6">
        <figure>
            <img width="100%" src="{{config.assetsImages+'step-6.png'}}">
        </figure>
        <h4 class="faq-head mb-10">
            <span><img src="{{config.assetsImages+'plus.png'}}"></span>
            Jobseekers can identify their personal and career needs, consult career professionals and optimize their resume
        </h4>
        <p>Evaluate your personal and career needs, considering factors like work-life balance and job satisfaction. Seek guidance from career professionals who can provide tailored advice. Collaborate with them to optimize your resume and incorporate best practices. 
            <br/><br/> <span class="buldimg"><img src="{{config.assetsImages+'bulb.png'}}"></span> To create a compelling resume, ensure it is well-organized, highlights your relevant skills and experiences, uses concise and clear language, and is tailored to each job application. Focus on showcasing your achievements and quantifiable results. </p>
    </div>
    <div class="steps-card">
        <figure>
            <img width="100%" src="{{config.assetsImages+'step-5.png'}}">
        </figure>
        <h4 class="faq-head mb-10">
            <span><img src="{{config.assetsImages+'plus.png'}}"></span>
            Upload your optimized resume and find the ten best matching jobs on BothMatch.com 
        </h4>
        <p>Upload your optimized resume to BothMatch.com and use the Curate Match Framework<sup>TM</sup> to find the ten best matching job opportunities based on your skills, qualifications, and preferences. Review the job descriptions and requirements from the matched jobs to ensure they align with your career goals and aspirations.
            <br/><br/> <span class="buldimg"><img src="{{config.assetsImages+'bulb.png'}}"></span> Jobseekers can now organically match their updated resume with millions of jobs using modern platforms like BothMatch.com</p>
    </div>
    <div class="steps-card">
        <figure>
            <img width="100%" src="{{config.assetsImages+'step-4.png'}}">
        </figure>
        <h4 class="faq-head mb-10">
            <span><img src="{{config.assetsImages+'plus.png'}}"></span>
            Research the ten best job matches and identify related recruiters 
        </h4>
        <p>Conduct comprehensive research on the ten best job matches, including the companies' background, values, culture, and industry position. Identify and network with the recruiters or hiring managers responsible for those job openings. Gather information about the recruiters to personalize your application and prepare for potential interactions.</p>
    </div>
    <div class="steps-card">
        <figure>
            <img width="100%" src="{{config.assetsImages+'step-3.png'}}">
        </figure>
        <h4 class="faq-head mb-10">
            <span><img src="{{config.assetsImages+'plus.png'}}"></span>
            Apply to the preferred companies you identified
        </h4>
        <p>Tailor your application for each preferred company, highlighting your relevant skills, experiences, and achievements. Submit your application through the designated channels, following any specific instructions provided by the companies. Keep track of application deadlines and consider following up if necessary.</p>
    </div>
    <div class="steps-card">
        <figure>
            <img width="100%" src="{{config.assetsImages+'step-2.png'}}">
        </figure>
        <h4 class="faq-head mb-10">
            <span><img src="{{config.assetsImages+'plus.png'}}"></span>
            Prepare to interview with selected companies
        </h4>
        <p>Thoroughly research each company you have applied to, understanding their products, services, industry position, and recent news. Prepare answers to common interview questions and practice them with a career professional or through mock interviews. Develop a list of thoughtful questions to ask the interviewer while demonstrating confidence, interest and engagement.</p>
    </div>
    <div class="steps-card mb-40">
        <figure>
            <img width="100%" src="{{config.assetsImages+'step-1.png'}}">
        </figure>
        <h4 class="faq-head mb-10">
            <span><img src="{{config.assetsImages+'plus.png'}}"></span>
            Evaluate job offer/s from matched companies
        </h4>
        <p>Evaluate the job offer by considering factors such as salary, benefits, work environment, growth
            opportunities, and alignment with your long-term career goals. Seek advice from career professionals to
            help you weigh the pros and cons of the offer. Make an informed decision based on your evaluation and,
            if necessary, negotiate terms to ensure they align with your expectations and aspirations.</p>
    </div>
</div>

<app-footer-curate-career></app-footer-curate-career>
